"*":
  "atom-shell-commands":
    commands: [
       {
        name: "run python"
        command: "python"
        arguments: [
          "{FileName}"
        ]
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-1"
      }
    ]
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
    uriHandlerRegistration: "never"
  editor:
    fontSize: 15
    tabLength: 3
  "exception-reporting":
    userId: "e695b5b1-358e-43b2-8466-4f42a306cc57"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
