{% extends "base.html" %}

{% block content %}
<h2> Edit </h2>
<form action="{{ url_for('student.update_', sid=student.sid) }}" method="POST">
Name <input type="text" name="name" value="{{student.name}}"> <p/>
Dep <input type="text" name="dep" value="{{student.dep}}"> <p/>
Gpa <input type="text" name="gpa" value="{{student.gpa}}">
<input type="hidden" name="_method" value="PUT">
<input type="submit" value="Update">
</form>
<p/>
<form action="{{url_for('student.delete', sid=student.sid)}}" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
<p/>
</form>
<form action="{{url_for('student.list')}}" method="GET">
<input type="submit" value="Cancel">
</form>
{% endblock %}